<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/main.css">
    <link rel="stylesheet" href="./assets/style/product.css">
    <title>Product</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-fixed navbar-expand-lg navbar-light bg-grey my-home-container">

            <a class="nav-link" href="/"><img id="home-logo" th:src="@{./assets/images/logo.jpg}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li th:if="${session.user == null && session.brand == null}" class="nav-item">
                        <a class="nav-link" href="/auth">Sign In <span class="sr-only">(current)</span></a>
                    </li>

                    <li th:if="${session.user != null || session.brand != null}" class="nav-item">
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </li>
                </ul>
            </div>


        </nav>
    </header>
    <main id="product" class="add-product">
        <div class="col-10 col-md-6 add-product-form">

            <div th:if="${signInResponse != null && !signInResponse.isStatus()}" class="alert alert-danger text-center">
                <span th:text="${signInResponse.getMessage()}"></span>
            </div>
            <div th:if="${signUpResponse != null && signUpResponse.isStatus()}" class="alert alert-success text-center">
                <span th:text="${signUpResponse.getMessage()}"></span>
            </div>

            <nav class="mt-3">
                <div class="nav nav-tabs" id="userSignIn" role="tablist">
                    <a class="nav-link active" id="nav-company-login-tab" data-toggle="tab"
                        href="#nav-company-login" role="tab" aria-controls="nav-company-login"
                        aria-selected="true">Brand</a>
                    <a class="nav-link" id="nav-user-login-tab" data-toggle="tab" href="#nav-user-login"
                        role="tab" aria-controls="nav-user-login" aria-selected="false">User</a>
                </div>
            </nav>
            <div class="tab-content mt-3" id="userSignInContent">
                <form th:object="${brandSignIn}" class=" tab-pane fade show active" th:action="@{/login/brand}" method="POST" role="tabpanel"
                      aria-labelledby="nav-company-login-tab" id="nav-company-login">
                    <div class="form-group">
                        <input th:field="*{details}" type="text" aria-required="true" required name="detail"
                               placeholder="Brand Mobile Number or Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input th:field="*{password}" required aria-required="true" name="password" type="password"
                               placeholder="Password" class="form-control">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>

                </form>

                <form th:object="${userSignIn}" class="mt-3 tab-pane fade" th:action="@{/login/user}" method="POST"
                      aria-labelledby="nav-user-login-tab" id="nav-user-login">
                    <div class="form-group">
                        <input th:field="*{details}" type="text" aria-required="true" required name="detail"
                               placeholder="User Mobile Number or Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input th:field="*{password}" required aria-required="true" name="password" type="password"
                               placeholder="Password" class="form-control">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </form>

            </div>
            <button class="btn my-btn btn-block mt-2" data-toggle="modal" data-target="#signUpModal">
                Sign Up
            </button>
        </div>
    </main>

    <footer>
        Pisces Mart
    </footer>

    <!-- SIGN UP MODAL -->
    <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="my-modals modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="signUpModalLabel">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body my-modals">

                    <nav class="mt-2">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-company-reg-tab" data-toggle="tab"
                                href="#nav-company-reg" role="tab" aria-controls="nav-company-reg"
                                aria-selected="true">Brand</a>
                            <a class="nav-link" id="nav-user-reg-tab" data-toggle="tab" href="#nav-user-reg" role="tab"
                                aria-controls="nav-user-reg" aria-selected="false">User</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <form th:object="${brandReceiverDTO}" class="mt-3 tab-pane fade show active" th:action="@{/register/brand}" method="POST"
                              role="tabpanel" aria-labelledby="nav-company-reg-tab" id="nav-company-reg">
                            <div class="form-group">
                                <input th:field="*{brandName}" type="text" aria-required="true" required name="company_name"
                                       placeholder="Company Name" class="form-control">
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <input th:field="*{email}" required aria-required="true" name="email" type="email" placeholder="Email"
                                           class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input th:field="*{mobile}" required aria-required="true" name="mobile" type="tel" placeholder="Mobile"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <input th:field="*{password}" required aria-required="true" name="password" type="password"
                                           placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input required aria-required="true" name="confirm-password" type="password"
                                           placeholder="Confirm Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-form-label">Company Address:</label>
                                <textarea th:field="*{address}" minlength="10" maxlength="200" class="form-control" id="address"
                                          name="address"></textarea>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        </form>

                        <form th:object="${userReceiverDTO}" class="mt-3 tab-pane fade" action="/register/user" method="POST" role="tabpanel"
                              aria-labelledby="nav-user-reg-tab" id="nav-user-reg">
                            <div class="row">
                                <div class="form-group col-6">
                                    <input th:field="*{firstName}" required aria-required="true" name="firstname" type="text"
                                           placeholder="FirstName" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input th:field="*{lastName}" required aria-required="true" name="lastname" type="text"
                                           placeholder="LastName" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <input th:field="*{email}" required aria-required="true" name="email" type="email" placeholder="Email"
                                           class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input th:field="*{mobile}" required aria-required="true" name="mobile" type="tel" placeholder="Mobile"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <input th:field="*{password}" required aria-required="true" name="password" type="password"
                                           placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input required aria-required="true" name="confirm-password" type="password"
                                           placeholder="Confirm Password" class="form-control">
                                </div>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>