<!doctype html>
<html lang="en">

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/style/main.css}">
    <title th:text="${product.getName()}"> </title>
</head>

<body>
<header>
    <nav class="navbar navbar-fixed navbar-expand-lg navbar-light bg-grey my-home-container">

        <a class="nav-link" href="/"><img id="home-logo" src="./assets/images/logo.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Product</a>
                </li>
                <li th:if="${session.user == null && session.brand == null}" class="nav-item">
                    <a class="nav-link" href="/auth">Sign In</a>
                </li>

                <li th:if="${ session.brand != null}" class="nav-item">
                    <a class="nav-link" th:href="@{'/brand/' + ${session.brand.getId()} + '/1'}"  >Dashboard</a>
                </li>
                <li th:if="${session.user != null}" class="nav-item" >
                    <a class="nav-link" href="#">Welcome <span th:text="${session.user.getFirstName()}"></span></a>
                </li>
                <li th:if="${session.brand != null}" class="nav-item" >
                    <a class="nav-link" href="#">Welcome <span th:text="${session.brand.getBrandName()}"></span></a>
                </li>
                <li th:if="${session.user != null || session.brand != null}" class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out</a>
                </li>
            </ul>
        </div>

    </nav>
    </header>
    <main id="product" class="container">
        <div class="row product-top">
            <div class="product-view-left col-12 col-md-6">
                <img class="brand-image" th:src="${product.getImageUrl()}" alt="">
            </div>
            <div class="product-view-right col-12 col-md-6">
                <h2 class="product-name" th:text="${product.getName()}">Pisces Raddish</h2>
                <p th:text="${product.getCatchPhrase()}">Tastes Like: Ginger-y Green Juice</p>
                <p > # <span th:text="${product.getPrice()}"></span></p>
                <div>
                    <a th:href="@{'/brand/' + ${product.getBrand().getId()} + '/1'}" class="btn my-btn my-3">View <span th:text="${product.getBrand().getBrandName()}"></span></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="container about-product">
            <h4 class="about-header text-center">About Product</h4>
            <p class="text-center" th:text="${product.getDescription()}">

            </p>
            <hr>
        </div>

        <div class="product-preview">
            <h5 class="text-center">REVIEW</h5>
            <p class="text-center">
                <span th:text="${product.getAvgRating()}" class="product-rating">4.2</span> <span class="total-rating">/5</span>
            </p>
            <p class="text-center">
                <span th:if="${product.getAvgRating() > 4.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 4.7 &&  product.getAvgRating() > 4.3}"  class="goldstar"><img th:src="@{/assets/icon/star-half.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 4.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() > 3.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 3.7 &&  product.getAvgRating() > 3.3}"  class="goldstar"><img th:src="@{/assets/icon/star-half.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 3.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() > 2.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 2.7 &&  product.getAvgRating() > 2.3}"  class="goldstar"><img th:src="@{/assets/icon/star-half.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 2.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() > 1.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 1.7 &&  product.getAvgRating() > 1.3}"  class="goldstar"><img th:src="@{/assets/icon/star-half.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 1.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() > 0.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 0.7 &&  product.getAvgRating() > 0.3}"  class="goldstar"><img th:src="@{/assets/icon/star-half.svg}" alt=""></span>
                <span th:if="${product.getAvgRating() < 0.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
            </p>
            <p class="text-center">
                <span th:text="${product.getTotalReviews()}" class="product-rating">4.2</span>  Reviews
            </p>
            <div th:if="${ session.user != null }">
                <button class="btn my-btn my-3" data-toggle="modal" data-target="#reviewModal">Rate Product </button>
            </div>
            <hr>
        </div>
        <div class="reviews">
            <div th:each="review : ${reviews}" class="review">
                <div class="user-review row">
                    <div class="user-rating mr-auto col-6">
                        <span th:if="${review.getRating() > 4.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                        <span th:if="${review.getRating() < 4.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
                        <span th:if="${review.getRating() > 3.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                        <span th:if="${review.getRating() < 3.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
                        <span th:if="${review.getRating() > 2.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                        <span th:if="${review.getRating() < 2.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
                        <span th:if="${review.getRating() > 1.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                        <span th:if="${review.getRating() < 1.3}"  class="goldstar"><img th:src="@{/assets/icon/star.svg}" alt=""></span>
                        <span th:if="${review.getRating() > 0.7 }"  class="goldstar"><img th:src="@{/assets/icon/star-fill.svg}" alt=""></span>
                    </div>
                    <div class="user-rating-date ml-auto col-6">Sep 14, 2020</div>
                </div>
                <h5 class="pt-4 pb-2 pl-3" th:text="${review.getSubject()}">My favorite!</h5>
                <p class="user-rating-text" th:text="${review.getText()}">

                </p>
                <div class="row d-flex justify-content-between px-3">
                    <div >
                        <p class="user-name">
                            <span th:text="${review.getUser().getFirstName()}"></span>
                            <span th:text="${review.getUser().getLastName()}"></span>
                        </p>
                    </div>
                    <form th:if="${session.user != null && session.user.getId() == review.getUser().getId()}" method="post" th:action="@{'/review/delete/' + ${review.getId()} + '/' + ${product.getId()}}"  >
                        <button type="submit" class="my-btn btn">remove</button>
                    </form>
                </div>
               
            </div>
            
        </div>
    </main>

    <footer>
        Pisces Mart
    </footer>

    <div th:if="${ session.user != null }" class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="my-modals modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="reviewModalLabel">Review Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  
                        <form  th:object="${review}" class="tab-pane fade show active" th:action="@{'/review/add/' + ${product.getId()} + '/' + ${session.user.getId()} }" method="POST" role="tabpanel"
                            aria-labelledby="nav-company-login-tab" >
                            <div class="form-group">
                                <input type="text" aria-required="true" required name="subject"
                                    placeholder="Subject" class="form-control">
                            </div>
                            <div class="form-group">
                
                                <select name="category" required th:field="*{rating}" class="custom-select" >
                                    <option selected value="0">Rating...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="text" class="col-form-label">Review:</label>
                                <textarea minlength="10" maxlength="500" class="form-control" id="text"
                                    name="text"></textarea>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary btn-block">Review Product</button>

                        </form>
              
                </div>
             
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>